@import "basic/variables"
@import "basic/mixins"



*
    font-family: 'Roboto', sans-serif

.container 
    max-width: 1140px
    margin: 0 auto
.contacts
    display: flex
    &__phone
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-right: 20px
        & span
            color: #ffffff
            font-size: 14px
            font-weight: 300
        & a
            color: #ffffff
            font-size: 16px
            font-weight: 700
    &__button
        width: 160px
        height: 45px
.title
    color: #2e2e2e
    font-size: 26px
    font-weight: 700
    text-transform: uppercase
    text-align: center
.subtitle
    color: #2e2e2e
    font-size: 21px
    font-weight: 300
    text-align: center
.supline
    &::before
        content: ""
        display: block
        width: 148px
        height: 1px
        margin: 20px auto 15px auto
        background-color: $main-color
.descr
    color: #3a3a3a
    font-size: 14px
    font-weight: 300
    line-height: 22px
    & span
        display: block
        color: #ec644b
        font-size: 16px
        font-weight: 700
.iconRad
    display: flex
    justify-content: center
    align-items: center
    width: 102px
    height: 102px
    border: 1px solid $main-color
    border-radius: 100%
    margin: 0 auto
a:hover
    color: $hover-color

@import "blocks/buttons"
@import "blocks/promo"
@import "blocks/advanatges"
@import "blocks/ourwork"
@import "blocks/agent"
@import "blocks/delivery"
@import "forms/consultation"
@import "blocks/workscheme"
@import "blocks/comments"
@import "blocks/questions"
@import "blocks/map"
@import "blocks/footer"
