.agent,.manager
    min-height: 342px
    padding: 58px 0 75px 0
    background: url('../../img/bg_agent.jpg') center center/cover no-repeat
    & .container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    & .iconRad
        border: 1px solid #ffffff
    & .title
        margin-top: 16px
        color: #fff
        text-transform: none
    & .subtitle
        margin-top: 18px
        color: #fff
.manager
    background: url('../../img/bg_managers.jpg') center center/cover no-repeat
